body {
  margin: 0;
  min-width: 1440px;
}

.main {
  background: #2B2C3A;
  display: flex;
}

.left-bar-wrapper {
  background: #2B2C3A;
}

.left-bar {
  background: rgba(156, 165, 236, .04);
  width: 280px;
  height: 810px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.text {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #FFFFFF;
}

.left-bar__logo {
  margin: 19px 0 0 30px;
}

.main-navigation {
  position: relative;
  margin: 43px 0 0 0;
}

.main-navigation::before {
  content: '';
  position: absolute;
  width: 280px;
  height: 1px;
  background: #D8D8D8;
  opacity: .1;
  top: -32px;
}

.main-navigation::after {
  content: '';
  position: absolute;
  width: 280px;
  height: 1px;
  background: #D8D8D8;
  opacity: .06;
  bottom: -20px;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-wrapper {
  margin: 0 30px 13px;
}

.navigation-wrapper:last-child {
  margin-bottom: 0;
}

.link-text {
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FFFFFF;
}

.submenu {
  display: block;
  margin-bottom: 18px;
}

.submenu:hover .subnavigation{
  display: block;
}

.navigation-wrapper-block {
  display: flex;
  justify-content: space-between;
}

.subnavigation {
  margin: 18px 0 0 23px;
  padding: 0;
  list-style: none;
  display: none;
}

.subnavigation-wrapper {
  display: flex;
  position: relative;
  padding: 10px 0;
}

.subnavigation-wrapper__link_checked {
  cursor: default;
}

.subnavigation-wrapper__link:hover::before {
  content: '';
  position: absolute;
  width: 280px;
  height: 40px;
  background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 93.97%);
  opacity: .03;
  top: 0;
  left: -53px;
}

.subnavigation-wrapper__link_checked::before {
  content: '';
  position: absolute;
  width: 280px;
  height: 40px;
  background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 93.97%);
  opacity: .03;
  top: 0;
  left: -53px;
}

.subnavigation-wrapper__link_checked::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 40px;
  background: #6F6EFF;
  box-shadow: 0px 0px 12px rgba(111, 110, 255, .5);
  top: 0;
  left: -53px;
}

.subnavigation-wrapper__icon {
  margin-right: 24px;
}

.subscription {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 31px;
  left: 30px;
  width: 220px;
}

.subscription__text {
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  line-height: 10px;
  color: #FFFFFF;
  opacity: .5;
  line-height: normal;
}

.switcher {
  position: relative;
  width: 42px;
  height: 22px;
  border: 1px solid rgba(255, 255, 255, .2);
  box-sizing: border-box;
  border-radius: 15px;
}

.switcher_on::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  right: 2px;
  background: #6F6EFF;
  box-shadow: 0px 0px 12px rgba(111, 110, 255, .5);
  border-radius: 16px;
}

.switcher_off::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background: #6F6EFF;
  box-shadow: 0px 0px 12px rgba(111, 110, 255, .5);
  border-radius: 16px;
}

.right-bar {
  width: 1160px;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 1160px;
  height: 72px;
  margin: 0 auto;
  background: #2B2C3A;
  z-index: 1;
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #D8D8D8;
  opacity: 0.1;
  bottom: 0;
  left: 0;
}

.service {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 0 0 55px;
}

.service::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 24px;
  background: #D8D8D8;
  opacity: 0.1;
  top: 24px;
  right: 0;
}

.service-block {
  margin: 0 28px 0 0;
  display: flex;
  align-items: center;
}

.service-block__element {
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  line-height: 10px;
  color: #FFFFFF;
  opacity: 0.6;
  text-decoration: none;
}

.course-info {
  display: flex;
  margin-right: 14px;
}

.course-info__button {
  width: 96px;
  height: 24px;
  background-color: rgba(255, 255, 255, .06);
  border-radius: 5px;
  border: 0;
  margin: auto 10px auto 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  font-size: 13px;
  line-height: 10px;
  color: #FFFFFF;
  cursor: pointer;
}

.course-info-block {
  display: flex;
  width: 103px;
  height: 24px;
  border-radius: 5px;
  background: rgba(255, 255, 255, .06);
  margin: auto 0;
}

.course-info-block__square {
  position: relative;
  width: 18px;
  height: 18px;
  background: #FF4738;
  box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
  border-radius: 4px;
  margin: 3px 0 3px 3px;
}

.course-info-block__lightning {
  position: absolute;
  top: 3px;
  left: 6px;
}

.course-info-block__text {
  font-size: 11px;
  line-height: 25px;
  opacity: 0.6;
  margin-left: 4px;
}

.course-info-block__text_bold {
  font-weight: 600;
  font-size: 13px;
  opacity: 1;
  margin-left: 10px;
}

.profile {
  display: flex;
  margin-right: 45px;
}

.profile-info {
  display: flex;
}

.profile-info__icon {
  width: 44px;
  height: 44px;
  margin: auto 0;
}

.profile-info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px 0 13px;
}

.profile-info-block__text {
  font-size: 14px;
}

.profile-info-block__status {
  position: relative;
  font-weight: 600;
  color: #24CB8D;
  margin: 0 0 0 15px
}

.profile-info-block__status::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #24CB8D;
  top: 7px;
  left: -11px;
}

.profile-info-sticker {
  width: 40px;
  height: 14px;
  background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
  box-shadow: 0px 0px 12px rgba(111, 110, 255, .5);
  border-radius: 4px;
  margin-top: 22px;
  text-align: center;
  line-height: 15px;
  text-transform: uppercase;
  font-size: 11px;
}

.content {
  margin: 40px 55px 0 55px;
}

.content-line {
  margin-bottom: 60px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
}

.title-block__subtitle {
  font-size: 11px;
  text-transform: uppercase;
  opacity: 0.4;
}

.title-block__title {
  font-size: 22px;
}

.breadcrumbs-block {
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
}

.breadcrumbs-block__button {
  width: 86px;
  height: 30px;
  background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
  border-radius: 4px;
  border: none;
  font-family: 'Jost', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
}

.breadcrumbs-block__button_navigation {
  width: 30px;
  height: 30px;
  background: none;
  border: 1px solid rgba(255, 255, 255, .15);
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 5px;
}

.breadcrumbs-block__button_navigation:last-child {
  margin-right: 0;
}

.content-line-block {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 255px;
  height: 294px;
  background: rgba(255, 255, 255, .04);
  border-radius: 6px;
}

.container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #D8D8D8;
  opacity: 0.1;
  bottom: 61px;
  left: 0;
}

.container__picture {
  border-radius: 6px 6px 0 0;
}

.container__sticker {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 50px;
  height: 20px;
  background: #6F6EFF;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
}

.container__title {
  margin: 10px 0 0 15px;
  font-size: 16px;
}

.container__subtitle {
  margin: 4px 0 0 15px;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.5;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  flex-grow: 1;
  align-items: flex-end;
  padding-bottom: 20px;
}

.container-wrapper__text {
  position: relative;
  bottom: 0;
}

.container-wrapper__button {
  width: 89px;
  height: 30px;
  background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
  border-radius: 4px;
  border: none;
  position: relative;
  bottom: -5px;
  cursor: pointer;
}
